.img-box{    
    /* height: 450px; */
    /* width: 350px; */
    overflow: hidden;
    object-fit: contain;
}

.card img{
    /* height: 450px;
    width: 350px; */
    height: clamp(12rem, 50vw, 31rem);
    object-fit: cover;
    transform: scale(1);
    transition: all ease-in-out 0.2s;
}

.card img:hover{
    transform: scale(1.03);
}

.card{
    height:auto;
    /* height: clamp(20rem, 50vw, 31rem); */
    /* width: 350px; */
    width: clamp(5rem, 40vw, 20rem);
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
}

.card:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.068);
}

.card p{
    padding-top: 2px;
    padding-left: 6px;
    font-size: clamp(0.6rem, 2vw, 0.8rem);
}