.section{
    max-height: 85vh;
    width: 100%;
    margin-bottom: 5%;
}

.textt{
    position: absolute;
    top: 28%;
    padding: 0px 7%;
    max-width: 85%;
}

.textt p{
    padding-top: 1.5%;
    padding-bottom: 2.5%;
    padding-left: 2px;
    font-size: clamp(0.7rem, 2vw, 1.2rem); 
}

.section button{
    width: 25%;
    background-color: #151515;
    color:rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.103) 0px 2px 4px 1px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border-radius: 3%;
    padding: 0.6rem;
    font-size: clamp(0.6rem, 1.5vw, 1rem); 

}

.section button:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.tittle{
    font-weight: 800;
    /* auto scales text */
    font-size: clamp(1.6rem, 4vw, 4rem); 

}


@media (max-width: 750px) {
  .textt {
    top: 23%;
    padding: 0 7%;
    width: 100%;
  }

   .textt p{
    padding: 4% 0 4%;
  }

  .section button {
    width: 33%;
    text-align: center;
    padding: 8px;
    font-size: 0.6rem;
  }

  .section img{
    min-height: 350px;
    object-fit: cover;
  }

}


