*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item{
    box-shadow: 0px 4px 10px -8px rgba(0, 0, 0, 0.393);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    text-align: center;
    font-size: 14px;
}

.item img{
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.item:hover{
    box-shadow: 0px 5px 10px -7px rgba(0, 0, 0, 0.42);
    scale: 1.01;
}

p{
    padding: 10px;
}