*{
    padding: 0;
    margin: 0;
}

.filter-container{
    width: 100%;
    height:fit-content;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.filter-container .options{
    display: flex;
    gap: 10px;
    padding-top: 26px;
    /* background-color: blue; */
}

.options .opt{
    border: 1px solid rgb(42, 42, 42);
    padding: 3px 8px;
    cursor: pointer;
    font-size: 0.9rem;
    background-color: #F6F5F4;
    color: rgb(42, 42, 42);
    font-weight: light;
    /* transition: all ease-in-out 0.1s; */
}

.options .opt:hover{
    border: 1px solid black;
    background-color: rgb(31, 31, 31);
    color: #F6F5F4;
}

.opt.press{
    border: 1px solid black;
    background-color: rgb(31, 31, 31);
    color: #F6F5F4;
}

.filter-container .options p{
    padding: 0;
}

.filterButton{
    display: flex;
    color: rgba(0, 0, 0, 0.623);
    cursor: pointer;
    align-items: center;
    font-size: 15px;
}

.filters{
    display: flex;
    gap: 20px;
    width: 94%;
    padding-bottom: 10px;
}

.availability{
    position: absolute;
    background-color:  #f6f4f5;
    width: 180px;
    top: 30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    gap: 5px;
    padding: 13px;
    box-shadow: 0px 2px 8px -5px rgba(0, 0, 0, 0.242);
    color: rgb(101, 101, 101);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateY(-15px);
}

.availability label{
    cursor: pointer;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.566);
    padding: 3px;
}

.availability label:hover{
    color: rgb(50, 50, 50);
}

.show-availability{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.filterWrapper{
    position: relative;
}

.active{
    color: rgb(37, 37, 37);
}

.priceLabel{
    border: 1px solid rgba(0, 0, 0, 0.447);
    font-size: 13px;
    padding: 10px 5px ;
    width: 85%;
    margin-left: 5px;
    border-radius: 2px;
    height: 50px;
}

.price{
    width: 300px;
}

.inputPrice{
    display: flex;
    /* background-color: chartreuse; */
    gap: 20px;
}

.inputPrice p{ 
    padding: 10px 0px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceHr{
    color: rgba(199, 199, 199, 0.735);
    width: 109.5%;
    position: relative;
    margin: 5px 0px 10px;
    left: -12.5px;
}

.price h1{
    font-size: 14px;
    font-weight: light;
    color: rgba(0, 0, 0, 0.566);
}

.totalProducts{
    position: relative;
    right: -1000px;
    color: rgb(101, 101, 101);
    font-size: 15px;
}

.inputSize p{
    display: flex;
    align-items: center;
    /* background-color: rgb(60, 240, 0); */
    cursor: pointer;
    padding: 5px 0px;
    gap: 5px;
}

.size{
    font-size: 14px;
}

.sizeHr{
    color: rgba(199, 199, 199, 0.735);
    width: 117%;
    position: relative;
    margin: 5px 0px 10px;
    left: -12.5px;
}