*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

/* .discount{
    background-color: #CCC2B5;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    color: #3f3e3e;
} */

.navbar{ 
    display: flex; 
    height: 60px; 
    width: 100vw; 
    align-items: center; 
    justify-content: space-between; /* box-shadow: offset-x offset-y blur-radius spread-radius color; */ 
    box-shadow: 0 3px 10px -7px rgba(0, 0, 0, 0.388); 
    padding: 0 20px 0 20px;
    background-color: #F6F4F5;
    position: relative;
    z-index: 200;
} 

.nav-logo{ 
    display: flex; 
    align-items: center; 
    gap: 2px; 
}

.nav-logo p {
    color: #333;
    font-size: clamp(0.7rem, 2vw, 1rem);
    font-weight: bold;
}

.nav-logo img{
    height: 32px;
}

/* Navigation menu */
.nav-menu {
    display: flex;
    gap: 26px;
    list-style: none;
    align-items: center;


}

.nav-menu a {
    cursor: pointer;
    transition: color 0.3s ease;
    letter-spacing: 0.5px;
    font-size: clamp(0.7rem, 2vw, 0.85rem);
}


.nav-menu a:hover {
    color: #000;
}

/* Login / Cart Section */
.nav-login-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-right: 20px;
}

.nav-login-cart button {
    padding-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: clamp(0.9rem, 2vw, 1.5rem);
}

.nav-login-cart img {
    width: clamp(1.3rem, 2vw, 1.5rem);
    cursor: pointer;
}

/* Responsive: stack menu items on small screens */
/* Apply the following CSS only when the screen width is 768px or smaller */
@media (max-width: 650px) {
    .nav-menu {
        flex-wrap: wrap;
        gap: 10px;
    }


    .navbar {
        padding: 1px;
    }

}

.cart-counter {
    background-color: red;
    color: white;
    font-size: 11px;
    padding: 7px;
    border-radius: 40%;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    margin-top: -17px;
}


.active{
    /* text-decoration: underline rgb(44, 44, 44); */
    text-underline-offset: 4px;
    transition: all ease-in-out 0.2s;
    color: #000;
    font-weight: bolder;
}
