* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  overflow-x: hidden;
}

.vid-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: blueviolet;
}

.summer{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding-top: 80px;
}

video{
  position: relative;
  left: -87px;
  height: 650px;
  width: 90%;
  object-fit: cover;
  transition: all 1s ease-in-out;
}

.dicover-button{
  margin-top: 700px;
  color: rgb(255, 245, 233);
  z-index: 1;
  border: 1px solid;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 17px;
  position: absolute;
  transition: all 0.5s ease-in-out;
  transform: translateY(-100px);
}

.hover-effect{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-effect:hover video{
    width: 100%;
    height: 900px;
    left: -62px;
}

.hover-effect:hover button:hover{
  background-color: #f6f5ea;
  color: black;
  border: none;
}

.hover-effect:hover button{
  transform: translateY(20px);
} */

.summer{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding-top: 80px;
}

.vid-section{
  width: 100%;
  height: auto;
}

video{
  width: 82%;
  position: relative;
  top: -58px;
  transition: all ease-in-out 0.5s;
}

.hover-effect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  /* overflow: hidden; */
  /* background-color: blue; */
}

.hover-effect:hover video{
  width: 100%;
  /* transform: translateY(0px); */
  /* height: 100%; */
}

body{
  overflow-x: hidden;
}

.dicoverMore-button{
  position: relative;
  top: 520px;
  padding: 15px 35px;
  color: rgb(231, 231, 231);
  border: 1px solid rgb(240, 240, 240);
  cursor: pointer;
  z-index: 5;
  transition: all ease-in-out 0.5s;
  font-size: 1.1rem;
}

.hover-effect:hover .dicoverMore-button{
  transform: translateY(130px);
}

.hover-effect:hover button:hover{
  background-color: #f6f5ea;
  color: black;
  border: none;
}