* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.summer{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding-top: 80px;
}

.vid-section{
  width: 100%;
  height: auto;
}

video{
  width: 82%;
  position: relative;
  top: -58px;
  transition: all ease-in-out 0.5s;
}

.hover-effect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  /* overflow: hidden; */
  /* background-color: blue; */
}

.hover-effect:hover video{
  width: 100%;
}

body{
  overflow-x: hidden;
}

.dicoverMore-button{
  position: relative;
  top: 520px;
  padding: 15px 35px;
  color: rgb(231, 231, 231);
  border: 1px solid rgb(240, 240, 240);
  cursor: pointer;
  z-index: 5;
  transition: all ease-in-out 0.5s;
  font-size: 1.1rem;
}

.hover-effect:hover .dicoverMore-button{
  transform: translateY(130px);
}

.hover-effect:hover button:hover{
  background-color: #f6f5ea;
  color: black;
  border: none;
}
