.summer{
    text-align: center;
    padding-top: 1rem;
}

.vid-section{
  width: 100%;
  height: auto;
  overflow: hidden;
}

video{
  width: 85%;
  position: relative;
  top: -58px;
  transition: all ease-in-out 0.5s;
}

.hover-effect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.hover-effect:hover video{
  width: 100%;
}

body{
  overflow-x: hidden;
}

.dicoverMore-button{
  position: relative;
  top: 32.5rem;
  padding: 15px 35px;
  color: rgb(231, 231, 231);
  border: 1px solid rgb(240, 240, 240);
  cursor: pointer;
  z-index: 5;
  transition: all ease-in-out 0.5s;
  font-size: clamp(0.7rem, 2.5vh , 2rem);;
}

.hover-effect:hover .dicoverMore-button{
  transform: translateY(130px);
}

.hover-effect:hover button:hover{
  background-color: #f6f5ea;
  color: black;
  border: none;
}

@media (max-width: 600px) {
  .summer{
    padding-top: 0;
  }

  video{
    top:-3.8rem;
  }
}