
.para{
    width: 40%;
    color: rgba(0, 0, 0, 0.758);
    text-align: center;
}

.aboutus-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 9rem 0;
}

@media (max-width: 600px){
    .para{
        width: 70%;
    }

    .aboutus-banner{
        padding: 2.5rem 0 3rem;
    }
}