*{
    margin: 0;
    padding: 0;
}

.explore{
    font-size: 35px;
    font-weight: bold;
}

.para{
    width: 640px;
    color: rgba(0, 0, 0, 0.758);
    text-align: center;
}

.aboutus-banner{
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}