*{
    margin: 0;
    padding: 0;
}

.explore{
    /* padding: 100px; */
    width: 100vw;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.para{
    padding: 0 450px;
    text-align: center;
    color: rgba(0, 0, 0, 0.758);
}

.aboutus-banner{
    /* background-color: chartreuse; */
    padding: 80px 0px 120px;
}