*{
    box-sizing: border-box;
}

.popular{
    width: 100%;
    height: auto;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 20px;
    width: 100%;
    height: auto;
}

.heading{
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px){
    .boxes{
        gap: 10px;
    }

    .popular{
        padding: 1rem 0 1rem;
    }
}