*{
    box-sizing: border-box;
}

.popular{
    overflow-x: hidden;
    width: 100%;
    height: 760px;
    padding-bottom: 30px;
    /* background-color: blue; */
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 500px;
}

.heading{
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-weight: 800;
}