*{
  box-sizing: border-box;
}

.product-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.thumbnail-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.thumbnail-img {
  width: 80px;
  height: 110px;
  object-fit: cover;
  border-radius: 2px;
  cursor: pointer;
  border: 2px solid #eee;
}

.border{
  border: 2px solid rgb(0, 0, 0);
  /* opacity: 0.5; */
}

.main-img-box {
  flex: 1;
  cursor: zoom-in;
}

.main-img {
  width: 100%;
  border-radius: 2px;
  transition: 1s all ease-in-out;
}

.zoom-container{
  width: 100%;
  height: auto;
  background-color: #F6F5F4;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom{
  width: 100%;
  height: 10vh;
  overflow: hidden;
}

.zoom-img{
  height: 738px; 
  transition: 0.4s all ease-in-out; 
  cursor: zoom-in;
  width: 500px;
  object-fit: cover;
}

.zoom-img-scale{
  height: auto;
  width: auto;
  cursor: zoom-out;
}

.zoom-buttons{
  position: fixed;
  bottom: 70px;
  display: flex;
  gap: 10px;
  z-index: 109;
}

.cross-button, .right-button, .left-button{
  background-color: #F6F5F4;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 8px -5px black;
}

.product-details {
  flex: 1;
  padding: 10px;
}

.product-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.price-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.old-price {
  text-decoration: line-through;
  color: gray;
}

.new-price {
  font-size: 22px;
  font-weight: bold;
}

.sale-badge {
  background: rgb(210, 0, 0);
  color: white;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.shipping-text {
  margin-top: 10px;
  color: #444;
}

.section-heading {
  margin-top: 20px;
  font-size: 18px;
}

.size-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.size-btn {
  padding: 8px 18px;
  border-radius: 2px;
  border: 1px solid #8e8e8e;
  background: white;
  cursor: pointer;
  font-size: 16px;
}

.size-btn:hover{
  border: 1px solid #000000;
  background-color: white;
}

.size-btn.active {
  background: black;
  color: white;
}

.warning-text {
  margin-top: 10px;
  font-size: 13px;
  color: #444;
}

.show-chart {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 15px;
}

.size-chart-img {
  width: 550px;
  margin-top: 10px;
  border-radius: 8px;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.qty-box button {
  width: 35px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
}

.add-cart-btn {
  width: 100%;
  background: rgb(15, 15, 15);
  color: rgb(238, 238, 238);
  padding: 14px;
  border-radius: 2px;
  font-size: 18px;
  margin-top: 20px; 
  cursor: pointer;
}

.add-cart-btn:hover{
  background-color: black;
  color: white;
}

.cod-btn {
  margin-top: 12px;
  width: 100%;
  padding: 14px;
  border-radius: 2px;
  border: 1px solid black;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cod-btn:hover{
  background-color: #000000;
  color: #F6F5F4;
}
